/* debug */
.row{
  border: 1px solid red;
}

[class*="col-"]{
  /* height: 100px; */
  /* background-color: pink; */
  border: 1px solid black;
}

.container{
  border: 1px solid blue;
}

#my_why .container .row:nth-child(2){
  /* height: 400px; */
  /* background-color: green; */
}


/* regole generali */
body{
  font-family: 'Inter', sans-serif;
  color: #79849D;
}

.center_container{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.center_container_plus{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn{
  color: #016DFF;
  border: 1px solid #016DFF;
}

.black_text{
  color: black;
}

.white_text{
  color: white;
}

.blu_text{
  color: #016DFF;
}


/* regole condivise */
#my_customers, #my_who{
  background-color: #F3F5F9;
}

#my_why .thumbnail > img,
#my_features .thumbnail > img{
  margin: 0;
}

#my_why .thumbnail,
#my_features .thumbnail{
  border: 1px solid transparent;
}

#my_why .thumbnail p,
#my_features .thumbnail p{
  color: #79849D;
}


/* regole header */
header .navbar-default {
  background-color: white;
}

header .navbar-default .navbar-toggle,
header .navbar-default
{
  border-color: transparent;
}

header .navbar-default .navbar-toggle .icon-bar{
  background-color: #016DFF;
}

header .navbar > .container .navbar-brand{
  margin-right: 10vw;
  max-width: 100px;
}

header .navbar > .container .navbar-brand img{
  width: 100px;
}

header .navbar-default .navbar-nav > li > a{
  color: black;
}

header .btn-default:hover{
  background-color: #016DFF;
  border: 1px solid white;
  color:white;
}

header .nav > li > a{
  padding: 15px 0 0;
  margin: auto 15px;
}


/* regole jumbotron */
#my_jumbotron.center_container{
  background-image: url('../img/jumbo.svg');
  opacity: 0.9;
  margin-top: 50px;
}

#my_jumbotron .container .jumbotron{
  padding:0;
  background-color: transparent;
  color: white;
}

.jumbotron_form{
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
}

#my_jumbotron .btn{
  background-color: #579AFF;
  border: 1px solid #579AFF;
  color: white;
}

#my_jumbotron .btn-lg{
  padding: 2px 0;
  line-height: inherit;
}

#my_jumbotron .jumbotron_form .btn:nth-last-child(2){
  background-color: white;
  color:grey;
  box-shadow: 1px 1px 2px 2px #88888850;
  border: none;
}

.jumbotron_form p:last-child{
  margin-top: 10px;
}

#my_jumbotron button img{
  width: 14px;
}


/* regole prima parte main: my_customers */
#my_customers .container .row:nth-child(2){
  margin-top: 40px;
  margin-bottom: 40px;
}


/* regole seconda parte main: my_why */
#my_why .container .row:first-child{
  margin-bottom: 40px;
}

#my_why .list-group-item{
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid #79849D;
  border-radius: 0;
}

#my_why button{
  font-size: 18px;
  color:#79849D;
}


#my_why .thumbnail .caption{
  padding-left: 0;
}

#my_why .container .row:last-child div:last-child>div{
  padding-left: 0px;
}


/* regole terza parte main: who */
#my_who .container .row:first-child>:first-child{
  margin-bottom: 40px;
}

#my_who .container .row:nth-child(2){
  position: relative;
}

#my_who .container .row:nth-child(2) p{
  margin: 10px auto;
}

#my_who .container .row:nth-child(2)>div:nth-child(2){
  position: absolute;
  top: 50%;
  left: 0;
}

#my_who .container .row:nth-child(2)>div:nth-child(4){
  position: absolute;
  top: 50%;
  right: 0;
}

#my_who .glyphicon{
  font-size: 40px;
}


/* regole quarta parte main: features */
#my_features .container .row:first-child{
  margin-bottom: 50px;
}




/* media query */
@media all and (max-width: 1200px){

  #my_who .container .row:nth-child(2),
  #my_who .container .row:nth-child(3){
    margin-top: 60px;
  }

}

@media all and (max-width: 768px){

  #my_who .container .row:nth-child(2)>div:nth-child(2),
  #my_who .container .row:nth-child(2)>div:nth-child(4){
    display: none;
  }

}

@media all and (min-width: 768px) and (max-width: 1200px) {
   header .navbar-collapse.collapse {
       display: none !important;
   }
   header .navbar-toggle{
        display: block !important;
   }
   header .navbar-header{
        float: none;
   }
}
